.button{
    background-color: #5288c1;
    font-size: 15px;
    color: #fff;
    border: none;
    padding: 13px 40px 16px 40px;
    border-radius: 4px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    outline: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background: #2b5278;
    }
    &--square{
        border-radius: 0;
    }
    &--bg--dark{
        background-color: #242f3d;
        color: rgba(#fff, .7)
    }
    &--settings{
        background: #2b5278;
        &::before{
            content: '';
            display: flex;
            width: 34px;
            height: 28px;
            background-image: url('../images/user-config.svg');
            background-repeat: no-repeat;
            background-size: contain;
            opacity: .6;
        }
    }
}