.input{
    width: 100%;
    background: transparent;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    color: #e5e5e5;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    padding: 12px 9px;
    transition: .5s;
    &--bordered{
        border-bottom: 1px solid #465362;
    }
    &--sender{
        font-size: 14px;
        padding: 20px 17px;
        border-bottom: 1px solid transparent;
    }
    &:focus {
        border-color: #5288c1;
    }
}

::-webkit-input-placeholder { color: #858e97; }
::-moz-placeholder          { color: #858e97; }/* Firefox 19+ */
:-moz-placeholder           { color: #858e97; }/* Firefox 18- */
:-ms-input-placeholder      { color: #858e97; }