@import '../user';
@import '../message';

.chat{
    display: flex;
    justify-content: center;
    height: 100%;
    &__box{
        width: 100%;
        max-width: 940px;
        border-radius: 0 0 6px 6px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    &__wrap{
        flex: 1;
        display: flex;
        align-items: flex-start;
    }
    &__messager{
        height: 100%;
    }
    &__sidebar{
        flex: 1.5;
        border-left: 1px solid #101921;
        background-color: #17212b;
        display: flex;
        flex-direction: column;
    }
    &__search-wrap{
        padding: 20px 20px 0 20px;
    }
    &__search{
        font-size: 14px;
    }
    &__users{
        padding: 20px;
        flex: 1;
        max-height: 722px;
        overflow-y: auto;
    }
    &__messager{
        flex: 3;
        display: flex;
        flex-direction: column;
    }
    &__messager-head{
        background-color: #17212b;
        padding: 19px 10px 16px 10px;
        font-size: 14px;
    }
    &__online-count{
        color: #7f91a4;
    }
    &__messages{
        display: flex;
        flex-direction: column;
        height: 700px;
        padding: 25px 10px 35px 10px;
        overflow-y: auto;
        background-color: #0e1621;
    }
    &__sender{
        background-color: #17212b;
    }
}

::-webkit-scrollbar { width: 1px;}
::-webkit-scrollbar-track {  background-color:#0e1621;}

.form-send{
    display: flex;
    &__button{
        width: inherit;
    }
}

.upload{
    padding: 60px 80px;
    background: #17212b;
    position: absolute;
    top: 50%;
    left: -9999px;
    transform: translate(-50%, -50%);
    &__file-wrap{
        position: relative;
    }
    &__filespace{
        width: 200px;
        height: 200px;
        border-radius: 10px;
        border: 1px dashed #ccc;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-size: cover;
        z-index: 1;
        input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
    &__text{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.show{
    left: 50%;
}