.chat(data-page="chat")
    .chat__box
        .chat__head-line
        .chat__wrap
            .chat__sidebar
                .chat__search-wrap
                    input(type="text" placeholder="Найти...").input.input--bordered.chat__search
                .chat__users(data-role="users")
        
                .chat__settings
                    button.button.button--settings.button--square(data-role="profile")
            .chat__messager
                .chat__messager-head
                    .chat__messager-head-text Чат
                    //- .chat__online-count 2 Учасника
                .chat__messages(data-role="messages")
                    
                .chat__sender
                    form.form-send(action="#")
                        input.form-send__input.input.input--sender(type="text" placeholder="Введите сообщение...")
                        button.button.button--square.button--bg--dark.form-send__button(type="submt") Отправить
    form.upload(data-role="upload")
        .upload__file-wrap
            .upload__filespace(data-role="preview")
                input(type="file" name="photo" data-role="file").upload__file
            .upload__text Загрузить фото
        button(type="submit") Загрузить
        button(type="reset" data-role="close") Отмена

