.login(data-page="login")
    .login__form
        .auth-form
            .auth-form__header
                .auth-form__icon
                h2.auth-form__title Авторизация
                .auth-form__desc Введите пожалуйста свой логин и пароль для дальнейшей авторизации
            .auth-form__form
                form.form(data-action="login")
                    .form__fields
                        input(type="text" name="login"  placeholder="Введите свой логин" required).input.input--bordered.form__input
                        input(type="password" name="password" placeholder="Введите свой пароль" required).input.input--bordered.form__input
                    button(type="submit").button.form__send-btn Войти
            .auth-form__info
                .auth-form__info-text Нет аккаунта ?
                a(href="./#registration").auth-form__link Зарегистрироваться
